/* Basic Font/size/color
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flow_Layout/Block_and_Inline_Layout_in_Normal_Flow
*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', sans-serif;
}

.navbar { /*Navigation Bar edit (Don't Touch) */
	background: #131313;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999; /* Stacking (Does not get covered by anything*/
}
.navbar__container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	/*z-index: 1; overlap*/
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
}
#navbar__logo {
	background-color: #ff8177;
	background-image: linear-gradient(to top, #ff0844 0%, #ffb119 100%);
	background-size: 100;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	position: relative;
	left: 0px
}



/* Signup Bar*/
.navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%
	border: none;
	outline: none;
	border-radius: 4px;
	background: #ff3300;
	color: #fff;
}
.button3 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%
	border: none;
	outline: none;
	border-radius: 4px;
	background: #ff471a;
	color: #fff;
}
.button:hover {
	background: #4837ff;
	transition: all 0.3s ease;

}
.navbar__links:hover {
	color: #f77062;
	transition: all 0.3s ease;

}
/*                                   */
body {
	background-color: #1a1a1a;
  	height: 500px;
	background-size: cover; /*Website background image (Change later)*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.nav .p {
	font-family: arial;
	color: #222;
	font-size: 24px;
	line-height: 55px;
	float: left;
	padding : 0px 22px
}
.nav .ul {
	float: left;
}
nav ul li {
	float: left;
	list-style: none;
	position: relative;
}

nav ul li a { /*Home events resources About us and Appointment heading*/
	display: block;
	font-family: arial;
	color: #fff; /*font color for home nav header.*/
	font-size: 25px; /* font size for home page etc. navigation header*/
	padding: 30px 14px;
	text-decoration: none;
	position: relative;
	/*Left: -80px; (LOL don't use if using 1920x1080 vs mobile phone pov*/
	
}
nav ul li ul {
	display: none;
	position: absolute;
	background-color: #131313; /*Drop down menu color*/
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul {
	display: block;
}
nav ul li ul li {
	width: 180px;
	border-radius: 4px;
}
nav ul li ul li a{
	padding: 8px 14px;
	
}
nav ul li ul li a:hover{
	background-color:#262626; /*Mouse over over drop down menu highlight color*/
}


/*
#example1 {
  box-sizing: content-box;  
  width: 300px;
  height: 100px;
  padding: 30px;  
  border: 10px solid blue;
}
Example for Border box
*/
/*-------------------------------------------------------------------------background Image-------------------------------------------------------------------------*/

.FrontPage {
	background-image: url("https://wallpapershome.com/images/pages/pic_h/3032.jpg") ;
	filter: brightness(90%);
	height: 1200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	font-family: 'Noto Serif JP', serif;
	
  }
  
  
  .FrontText {
	
	font-family: 'Noto Serif JP', serif;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}



/*-------------------------------------------------------------------------Footer-------------------------------------------------------------------------*/
.FooterMode {
	color: white;
	font-family: 'Noto Serif JP', serif;
	text-align: center;
	position: relative;
	bottom: -1250px;
	left: -200px;
	font-size: 10px;

}
.builtDiff {
	font-size: 18px;
	position:relative;
	left: -110px;
}
.AddressMode {
	font-size: 14px;
	position:relative;
	left: -138px;

}
